@import '~antd/dist/antd.css';

*{
  box-sizing: border-box;
}

#root {
  height: 100%;
  width: 100%;
}

html, body{
  height: 100%;
  width: 100%;
  display: flex;
  font-family: "Noto Sans JP", sans-serif;
  background-color: rgb(248, 248, 248);
  color: black;
  font-size: 15px;
}

html {
  font-size: 15px;
  /*--antd-wave-shadow-color: #6CCBB2;*/
}

.ant-menu, .ant-menu-light, .ant-menu-root, .ant-menu-horizontal {
  /*width: 100%;*/
  display: flex;
  justify-content: flex-end;
  flex-flow: row nowrap;
  font-size: 23px;
  background-color: rgb(248, 248, 248);
}

/*change header menu underline color*/
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected {
  color: #1890ff;
  border-bottom: 2px solid #1890ff;
}

/*Change header menu text colors*/
.ant-menu-horizontal > .ant-menu-item a {
  /*color: rgba(0, 0, 0, 0.65);*/
  color: black;
  font-size: 24px;
}

/*Change header menu selected text color*/
.ant-menu-horizontal > .ant-menu-item-selected a {
  color: #1890ff;
}

.ant-menu-horizontal {
  line-height: 46px;
  white-space: nowrap;
  border-bottom: 0 solid #f0f0f0;
  /*width: 100%;*/
}

.scrollTop:hover{
  opacity: 1;
  color: #1890ff;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

.bio {
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
  flex-flow: row wrap;
  /*flex-direction: row-reverse;*/
  /*flex-wrap: wrap;*/
}

.designProjects, .codeProjects {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.view .mask {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  height: 21vw;
  max-height: 21vw;
  min-width: 450px;
  width: 47vw;
  max-width: 47vw;
  margin: 10px;
}

.overlay .mask {
  transition: all 0.1s linear;
}

.white-text {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
}

.pageCover {
  display: flex;
  justify-content: center;
}

h4 {
  margin-bottom: 0.25em;
}

.info {
  padding-bottom: 50px;
  padding-right: 100px;
  min-width: 269px;
}

#SeaTransUserFlow, #SeaTransLowFi {
  width: 360px;
  height: 480px;
}

#BaseCampInfoArch, #BaseCampDesignSys {
  width: 100%;
  height: 100%;
}

@media (min-width: 400px) {
  html, body { /* MOBILE */
    font-size: 18px;
  }

  header {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.65);
    font-family: Raleway, sans-serif;
    font-size: 28px;
    padding: 0 44px 0;
  }

  header p {
    display: flex;
    flex-flow: row nowrap;
    white-space: nowrap;
    color: black;
    font-size: 28px;
    margin: 40px 0 25px;
  }

  .header_menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    /*flex: 1;*/
  }

  .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item {
    margin: 0 60px;
    padding: 0;
  }

  .bio  {
    padding: 0 36px 0;
  }
  .header_menu {
    /*padding-left: 72px;*/
  }
  .ant-menu-horizontal {
    /*width: 31vmax;*/
    /*margin-right: -16px;*/
    margin-bottom: 25px;
  }

  .bio img {
    width: 100%;
    height: 100%;
    padding-bottom: 40px;
  }

  #text {
    display: flex;
    flex-flow: column wrap;
    font-size: 18px;
    font-weight: 400;
  }

  .scrollTop {
    position: fixed;
    width: 100%;
    bottom: 40px;
    justify-content: flex-end;
    z-index: 1000;
    animation: fadeIn 0.3s;
    transition: opacity 0.4s;
    opacity: 0.75;
    padding-right: 25px;
    font-size: 25px;
  }

  .pageHeader {
    margin-top: 50px;
  }

  .pageLayout {
    padding-left: 54px;
    padding-right: 54px;
  }

  .details {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  #SeaTransMoodBoard {
    width: 100%;
    height: 100%;
    cursor: zoom-in;
  }

  #SeaTransColor {
    width: 108%;
    height: 100%;
    cursor: zoom-in;
  }

  #SeaTransType {
    width: 115%;
    height: 100%;
    cursor: zoom-in;
  }

  #SeaTransPDFs {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    /*padding-bottom: 50px;*/
  }

  #SeaTransUserFlow, #SeaTransLowFi {
    width: 480px;
    height: 640px;
    margin-bottom: 25px;
  }

  #SeaTransIcons {
    width: 100%;
    height: 100%;
    cursor: zoom-in;
  }

  #figmaAppFrame {
    width: 348px;
    height: 700px;
    border: 1px solid rgba(0, 0, 0, 0);
  }

  #figmaKioskFrame {
    width: 575px;
    height: 500px;
    border: 1px solid rgba(0, 0, 0, 0);
  }

  #SeaTransWayfinding {
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
    cursor: zoom-in;
  }

  #BaseCampUserFindings, #BaseCampDesignSpec {
    width: 112%;
    height: 100%;
    cursor: zoom-in;
  }

  .BaseCampPersonaLayout {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .BaseCampPersona {
    width: 100%;
    height: 100%;
    margin-bottom: 25px;
  }

  #BaseCampJourneyMap {
    width: 100%;
    height: 100%;
  }

  #BaseCampStoryBoard {
    width: 100%;
    height: 100%;
    cursor: zoom-in;
  }

  #BaseCampPaperProto, #BaseCampLowFi, #BaseCampWireFrames {
    width: 480px;
    height: 640px;
    margin-bottom: 25px;
  }

  .WSWSBrandAudit {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .WSWSWebDesign {
    width: 100%;
    height: 100%;
    margin-bottom: 25px;
  }

  #WSWSColor, #WSWSPillars, #WSWSLogo, #WSWSMockups {
    width: 100%;
    height: 100%;
    cursor: zoom-in;
  }

  #WSWSType {
    width: 115%;
    height: 100%;
    cursor: zoom-in;
  }

}

@media (min-width: 768px) {
  html, body { /* DESKTOP & TABLET */
    font-size: 21px;
  }

  header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.65);
    font-family: Raleway, sans-serif;
    font-size: 28px;
    padding: 0 44px 0;
  }

  header p {
    margin: revert;
    display: flex;
    flex-flow: row nowrap;
    white-space: nowrap;
    color: black;
    font-size: 28px;
  }

  .header_menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    /*flex: 1;*/
  }

  .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item {
    margin: 0 20px;
    padding: 0;
  }

  .bio  {
    padding: 0 44px 0;
  }

  .ant-menu-horizontal {
    /*width: 20vmax;*/
    margin-right: -16px;
    margin-bottom: 0;
  }

  .bio img {
    width: 40%;
    height: 75%;
    padding-bottom: 0;
  }

  #text {
    display: flex;
    flex-flow: column wrap;
    max-width: 50vw;
    min-width: 400px;
    font-size: 18px;
    font-weight: 400;
  }

  .scrollTop {
    position: fixed;
    width: 100%;
    bottom: 40px;
    /*align-items: center;*/
    /*height: 40px;*/
    justify-content: flex-end;
    z-index: 1000;
    /*cursor: pointer;*/
    animation: fadeIn 0.3s;
    transition: opacity 0.4s;
    opacity: 0.75;
    padding-right: 40px;
    font-size: 30px;
  }

  .pageHeader {
    margin-top: 100px;
  }

  .pageLayout {
    padding-left: 108px;
    padding-right: 108px;
  }

  .details {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  #SeaTransMoodBoard {
    width: 75%;
    height: 100%;
    margin-top: -25px;
    cursor: zoom-in;
  }

  #SeaTransColor, #SeaTransType {
    width: 69%;
    height: 100%;
    cursor: zoom-in;
  }

  #SeaTransPDFs {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
  }

  #SeaTransUserFlow, #SeaTransLowFi {
    width: 720px;
    height: 960px;
    margin-right: 48px;
  }

  #SeaTransIcons {
    width: 75%;
    height: 100%;
    cursor: zoom-in;
  }

  #figmaAppFrame {
    width: 464px;
    height: 933px;
    border: 1px solid rgba(0, 0, 0, 0);
  }

  #figmaKioskFrame {
    width: 1100px;
    height: 900px;
    border: 1px solid rgba(0, 0, 0, 0);
  }

  #SeaTransWayfinding {
    width: 69%;
    height: 100%;
    margin-bottom: 40px;
    cursor: zoom-in;
  }

  #BaseCampUserFindings {
    width: 75%;
    height: 100%;
    margin-top: -25px;
    cursor: zoom-in;
  }

  .BaseCampPersonaLayout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .BaseCampPersona {
    width: 49%;
    height: 100%;
    margin-bottom: 25px;
  }

  #BaseCampJourneyMap {
    width: 50%;
    height: 100%;
  }

  #BaseCampDesignSpec, #BaseCampStoryBoard {
    width: 69%;
    height: 100%;
    cursor: zoom-in;
  }

  #BaseCampPaperProto, #BaseCampLowFi, #BaseCampWireFrames {
    width: 720px;
    height: 960px;
    margin-right: 48px;
  }

  .WSWSBrandAudit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .WSWSWebDesign {
    width: 49%;
    height: 100%;
    margin-bottom: 25px;
  }

  #WSWSColor, #WSWSType, #WSWSLogo, #WSWSPillars {
    width: 69%;
    height: 100%;
    cursor: zoom-in;
  }

  #WSWSMockups {
    width: 75%;
    height: 100%;
    cursor: zoom-in;
  }
}


/*#project1, #project2, #project3, #project4 {*/
/*  display: flex;*/
/*  !*flex-direction: row;*!*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*  border: 1px solid rgba(0, 0, 0, 0.65);*/
/*  !*padding: 0px 43vw 0px;*!*/
/*  margin: 10px;*/
/*  min-height: 200px;*/
/*  height: 21vw;*/
/*  max-height: 21vw;*/
/*  min-width: 450px;*/
/*  width: 47vw;*/
/*  max-width: 47vw;*/
/*  font-size: 24px;*/
/*}*/




