*{
  box-sizing: border-box;
}


#root {
  height: 100%;
  width: 100%;
}

html,body{
  height: 100%;
  width: 100%;
  display: flex;
  /*flex: 1;*/
  font-family: "Noto Sans JP", sans-serif;
  display: flex;
}

html {
  font-size: 15px;
}
@media (min-width: 400px) {
  html { /* TABLET */
    font-size: 18px;
  }
  header {
    padding-left: 36px;
    padding-right: 36px;
  }
  .header_menu {
    width: 50%;
    padding-left: 72px;
  }
}

@media (min-width: 768px) {
  html { /* DESKTOP */
    font-size: 21px;
  }
  header {
    padding-left: 44px;
    padding-right: 44px;
  }
  .header_menu {
    padding-left: 72px;
  }

}

header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  color: black;
  font-family: Raleway, sans-serif;
  font-size: 28px;
  flex: 1
}

.header_menu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  color: black;
  font-size: 24px;
  flex: 1
}

.ant-menu, .ant-menu-light, .ant-menu-root, .ant-menu-horizontal {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-flow: row nowrap;
}

.ant-menu-item-selected::marker, ant-menu-item-only-child::marker {
  list-style-type: none;
}

/*.ant-menu-submenu, .ant-menu-horizontal, .ant-menu-overflowed-submenu {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*}*/
